<!-- views/createUser.ejs -->
<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
<body>
  <h1></h1>
  <form action="" method="POST">
    <label for="username">Username: </label>
    <input id="username" type="text" name="username" placeholder="username" required>
    <label for="password">Password</label>
    <input id="password" name="password" type="password" required />
    <button type="submit">Sign up</button>
  </form>
  <a href="/">Back to home</a>
</body>
</html>
